body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Responsiv styling för mindre skärmar (telefoner) */
@media (max-width: 600px) {
  body {
    padding: 1rem; /* Minska padding för små skärmar */
    font-size: 14px; /* Mindre textstorlek */
  }
}



